/***********************/
/* CODE VOOR NAVIGATIE */
/***********************/
body {
  margin: 0;
  position: relative;
}

.container {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
}

.hidden {
  display: none;
}

.change .bar1 {
  /* -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); */

  transform: rotate(-45deg) translate(-6px, 2px);
}

.change .bar2 {
  opacity: 0;
}

#logo {
  height: 35px;
  margin-top: 5px;
}
#shopping-cart > img{
  width: 15px;
  height: auto;
}

.change .bar3 {
  /* -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-2px, 0px); */
  transform: rotate(45deg) translate(-6px, -2px);
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
}




/************************/
/* CODE VOOR ZWARTE HEADINGS */
/***********************/

.subHeading {
  position: relative;
  font-size: 18px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  margin-top: 30px;
}


h1 {
  font-weight: normal;
  position: relative;
  font-size: 28px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
  margin-top: 0;
}

h3 {
  font-weight: normal;
  position: relative;
  font-size: 16px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
  margin-top: 0;
}

.fromPrice {
  position: relative;
  font-size: 20px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.heading {
  position: relative;
  font-size: 28px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
  margin-top: 0;
}

/************************/
/* CODE VOOR WITTE HEADINGS */
/***********************/

.subHeadingWhite {
  position: relative;
  font-size: 18px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  margin-top: 30px;
  color: white;
}

.subHeadingWhite2 {
  margin-top: 0;
}

.textDay {
  position: relative;
  font-size: 20px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-top: 30px;
  color: white;
}

h2 {
  font-weight: normal;
  position: relative;
  font-size: 28px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 30px;
  margin-top: 0;
  color: white;
}

.headingSkate {
  margin-top: 30px;
}

.subSkate {
  margin-bottom: 30px;
}

.fromPriceWhite {
  position: relative;
  font-size: 20px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: white;
}

.bar1,
.bar2,
.bar3 {
  width: 18px;
  height: 2px;
  background-color: #818181;
  margin: 4px 10px;
  transition: 0.4s;
}


/************************/
/* CODE VOOR BLOK 1 */
/***********************/
.tijdelijkeActie {
  position: relative;
  display: inline-block;
  height: 600px;
  width: 100%;
  background-image: url('./links/mobile/OP_ECOM_BF_KV_S\ \(3200x1400\).png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-block1 {
  display: inline-block;
  margin-top: 40px;

}

.actieHeading {
  position: relative;
  font-size: 28px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 4px;
  margin-top: 0;
  margin-left: 50px;
  color: white;
}

.ontdekMeerWit-BF {
  position: relative;
  font-size: 16px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 4px;
  margin-left: 50px;
  margin-top: 0;
  color: white;
}

/************************/
/* CODE VOOR BLOK 2 *
/***********************/
.onePlus8T {
  position: relative;
  display: flex;
  justify-content: center;
  height: 550px;
  width: 100%;
  margin-top: 10px;
  background-image: url('./links/mobile/8T_small_1xpng.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-block2 {
  display: inline-block;
  text-align: center;
}

/************************/
/* CODE VOOR BLOK 3 */
/***********************/
.onePlusNord {
  background-image: url('./links/mobile/Crop_TopBanner_OPN_small.jpg');
}

/************************/
/* CODE VOOR BLOK 4 */
/***********************/
.onePlus8 {
  background-image: url('./links/mobile/OnePlus 8_KV3_small.jpg');
}

/************************/
/* CODE VOOR BLOK 5 */
/***********************/
.onePlus8Pro {
  background-image: url('./links/mobile/OP8Pro_eu.jpg');
}


/************************/
/* CODE VOOR BLOK 6 */
/***********************/
.onePlus8T-Skate {
  background-image: url('./links/mobile/OP_ECOM_SkatersProject.jpg');
}

/************************/
/* CODE VOOR BLOK 7 */
/***********************/
.opinions {
  margin-top: 0;
  background-image: none;
  height: 350px;
  width: 100%;
  background-color: #e9e9e9;
}

.opinions>.slider__inner>.slider__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.subOpinions {
  color: #666666;
  margin-bottom: 50px;
  text-align: center;
  padding: 0 25px;
}

/************************/
/* CODE VOOR BLOK 8 */
/***********************/
.onePlusDay {
  background-image: url('./links/Tile_1860x1040.jpg');
  height: 450px;
}

/************************/
/* CODE VOOR BLOK 9 */
/***********************/
.onePlusNordN10 {
  background-image: url('./links/N10_2560x1040.jpg');
  height: 450px;
}

/************************/
/* CODE VOOR BLOK 10 */
/***********************/
.Buds {
  background-image: url('./links/Harrington.jpg');
  height: 450px;
}

/************************/
/* CODE VOOR BLOK 10 */
/***********************/
.Buds2 {
  background-image: url('./links/OneplusBuds4.jpg');
  height: 450px;
}

/************************/
/* CODE VOOR BLOK 12 */
/***********************/
.onePlusN100 {
  background-image: url('./links/N100_2560x1040.jpg');
  height: 450px;
}

/************************/
/* CODE VOOR BLOK 13 */
/***********************/
.Trade {
  background-image: url('./links/Trade-in-Tile_large.jpg');
  height: 450px;
}

/************************/
/* CODE VOOR BLOK 14 */
/***********************/
.school {
  background-image: url('./links/Student-program-Tile_large.jpg');
  height: 450px;
}

/************************/
/* CODE VOOR BLOK 14 */
/***********************/
.Referral {
  background-image: url('./links/mobile/referral2mobile.jpg');
  height: 450px;
}

/************************/
/* CODE VOOR BLOK 14 */
/***********************/
.nieuwsBrief {
  background-image: none;
  background-size: contain;
  height: 450px;
  background-color: #f6f6f6;
}

input[type=email] {
  width: 80vw;
  height: 30px;
  border: 0;
  border-bottom: 1px solid #7e7e7e;
  background-color: unset;
  padding: 5px 10px;
  font-size: 16px;
  color: #999;
}

.nieuwsBrief>.text-block2>h1 {
  margin-top: 60px;
}

.nieuwsBrief>.text-block2 {
  border-bottom: 1px solid #d2d2d2;
}

.note {
  font-size: 12px;
}

/************************/
/* CODE VOOR FOOTER */
/***********************/
.footerMenu {
  display: inline-block;
  cursor: pointer;
}

.barFooter1 {
  width: 13px;
  height: 2px;
  background-color: #676767;
  margin: 0px 0;
  transition: 0.4s;
}

.barFooter2 {
  width: 2px;
  height: 13px;
  background-color: #676767;
  margin: -6.3px 5px;
  transition: 0.4s;
}

.changeFooter .barFooter1 {
  -webkit-transform: rotate(-0deg) translate(0px, 0px);
  transform: rotate(-0deg) translate(0px, 0px);
}

.changeFooter .barFooter2 {
  -webkit-transform: rotate(-90deg) translate(0px, 0px);
  transform: rotate(-90deg) translate(0px, 0px);
}

.footer-nav-item {
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  border-bottom: 1px solid #d2d2d2;
  padding: 0 20px;
}

.footer-nav-item>.submenu {
  display: none;
  padding: 0 20px;
}

.footer-nav-item>.submenu.show {
  display: block;
  transition: ease-in 1s;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banks {
  padding: 10px 0;
  border-bottom: 1px solid #d2d2d2;
}

.menu .banks>.paypal {
  background-image: url('./links/phone-sprites2x-e4978dbe8f.png');
  background-position: -77px 0;
  width: 60px;
  height: 24px;
}

.callSupport {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  width: 80%;
}

.callSupport a {
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #09c;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.callSupport img {
  width: 21px;
  margin-right: 15px;
}

.callSupport p {
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.social-icons {
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
}

.social-icons img {
  width: 20px;
  padding: 5px 20px;
}

.social-icons li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.Payments {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.Payments img {
  width: 40px;
  padding: 10px;
}

.land {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.land img {
  width: 20px;
}

.footerLinks {
  background-color: #f9f9f9;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  display: flex;
  padding-top: 20px;
  flex-flow: row wrap;
  margin-left: 15px;
}

.footerLinks a {
  text-decoration: none;
  color: black;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
}



.copyRights {
  background-color: #f9f9f9;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #999999;
  display: flex;
  justify-content: left;
  padding: 15px;
}

/***********************/
/* CODE VOOR MENU-NAVIGATIE */
/***********************/
.barMenu1 {
  width: 13px;
  height: 2px;
  background-color: #676767;
  margin: 0px 0;
  transition: 0.4s;
}

.barMenu2 {
  width: 2px;
  height: 13px;
  background-color: #676767;
  margin: -7px 5px;
  transition: 0.4s;
}

.changeMenu .barMenu1 {
  -webkit-transform: rotate(-0deg) translate(0px, 0px);
  transform: rotate(-0deg) translate(0px, 0px);
}

.changeMenu .barMenu2 {
  -webkit-transform: rotate(-90deg) translate(0px, 0px);
  transform: rotate(-90deg) translate(0px, 0px);
}


.newSeries{
  border: 1px solid #000;
  font-size: 0.75em;
  padding: 0px 1px;
  border-radius: 5px;
  margin-left: 5px;
} 

.imgAndText img{
  width: 90px;
  height: auto;
}

.imgAndText{
  display: inline-flex;
  flex-direction: column;
  margin: 5px;
  align-items: center;
}

.imgAndText > p{
  align-self: center;
  font-size: 12px;    
  text-align: center;
}

.menu-nav-item {
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  border-bottom: 1px solid #d2d2d2;
  padding: 5px 10px;
  width: 275px;
  left: 30px;
  position: relative;
}

.menu-nav-item>.submenu {
  display: none;
}

.menu-nav-item>.submenu > img {
  width: 80px;
  height: auto;
}

.menu-nav-item>.submenu.show {
  display: block;
  transition: ease-in 1s;
}

.menuTop-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.menu-nav > li{
  list-style-type: none;
  padding-left:20px;
  padding: 18px 10px;
  border-bottom: 1px solid #d2d2d2;
  width: 275px;
  left: 30px;
  position: relative;
}

.menu-nav  a{
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.aanmelden img{
  width: 22px;
  height: auto;
  padding: 20px;
}

.aanmelden{
  font-size: 16px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  color:#09c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 15px;
  border-bottom: 1px solid #d2d2d2;
  width: 275px;
  left: 30px;
  position: relative;
}

.aanmelden p  &nbsp{

}
/************************/
/* CODE VOOR ONDEK MEER BUTTON */
/***********************/

.ontdekMeerWit {
  position: relative;
  font-size: 16px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 4px;
  color: white;
}

.ontdekMeerWitOnePlusDay {
  margin-top: 10px;
}

.ontdekMeerZwart {
  position: relative;
  font-size: 16px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 4px;
  margin-top: 0;
  color: black;
}



.ontdekMeerBlue {
  position: relative;
  font-size: 16px;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-bottom: 4px;
  margin-top: 0;
  color: #0099cc;
}

/************************/
/* CODE VOOR KOOP NU BUTTON */
/***********************/

.koopNu {
  color: #000;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: transparent;
}

.koopNuWhite {
  color: white;
  font-family: Roman-55, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: transparent;
}

.koopNuWhiteSkate {
  padding: 10px 22px;
  text-decoration: none;
}

/************************/
/*CODE VOOR ARROW RIGHT*/
/***********************/

.arrowWhite {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}

.arrowBlack {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}

.arrowBlue {
  border: solid #0099cc;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}


.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}